@import url(https://fonts.googleapis.com/css?family=Arimo);

:root {
    --cor-blue: #0739ff;
    --cor-white: #f2fafc;
    --cor-black: #01000530;
    --cor-gray: rgb(218, 218, 218);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 3%;
    margin-bottom: 3%;
}

a{
    text-decoration: none;
}

#top-header {
    background-color: var(--cor-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.top-header-box > a{
    color: var(--cor-white);
}

.top-header-box > a:hover{
    cursor: pointer;
    scale: 102%;
    color: var(--cor-gray);
}

.top-header-box {
    padding: 1.2%;
}

#notifications{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#notifications > div{
    flex-grow: 1;
    padding: 0%;
    margin: 0%;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo > img{
    max-width: 100%;
    max-height: 100%;
    filter: brightness(1000%);
}

#left{
    
}

#right{
   text-align: right;
}

#email, #notification-icon{
    color: var(--cor-white);
}

#choose-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--cor-white);
    width: 50%;
}

#choose-date > button{
    color: var(--cor-white);
    background-color: var(--cor-black);
    border-radius: 10px;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 1%;
    border: none;
}

#choose-date > button:hover{
    cursor: pointer;
    scale: 102%;
    background-color: #214dfc;
}

#search-bar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar > input, button{
    border-radius: 10px;
    border: none;
    background-color: var(--cor-white);
}

#search-bar > input {
    padding: 2%;
    width: 70%;
    margin-right: 1%;
    margin: 1%;
}

#search-bar > button{
    margin: 1%;
    height: 1.7rem;
}

#search-bar > button:hover{
    padding: 2%;
}

#search-bar > button > i{
    
}

#search-bar > button:hover{
    cursor: pointer;
    scale: 102%;
}

#toogle-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 60%;
    background-color: var(--cor-black);
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#toggle-bar > a{
    flex-grow: 1;
}

#choose-resource{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    background-color: var(--cor-black);
    padding: 1%;
    padding-left: 7%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#choose-resource > a{
    flex-grow: 1;
}

#bottom-menu {
    background-color: var(--cor-blue);
    text-decoration: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#bottom-menu > a {
    color: var(--cor-white);
    margin: 1.2%;
    padding: 1%;
    flex-grow: 1;
    font-size: 1.5em;
    margin-left: 3%;
}

#bottom-menu > a:hover{
    cursor: pointer;
    scale: 102%;
    color: white;
}